.menuNavigation {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    color: white;
}

.menuDiv {
    color: white;
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    padding: 1vw;
    margin: 0.5vw;
    width: 100%;
}

.menu {
    grid-area: menu;
    display: flex;
    position: fixed;
    top: 20vh;
    left: 5vh;
}

.menuIconDiv {
    display: flex;
    margin: auto;
}

.menuIconText {
    width: 80%;
}