.mainTextAreaInput {
    background-color: transparent;
    color: white;
    width: 100%;
    outline: none;
    padding: 0.5vw;
    margin: 1vw;
    max-height: 10vh;
}

.mainInput {
    color: white;
    width: 90%;
    outline: none;
    padding: 0.5vw;
    max-height: 10vh;
    background-color: transparent;
}

.mainInput::placeholder {
    color: white;
}