.friendRequest__user__div {
    display: flex;
    margin-inline: 0.5vw;
}

.friendRequest__user__userInfo {
    display: block;
    margin: 0.5vw;
}

.friendRequest__user__userInfo p {
    color: rgb(153, 151, 151);
    font-size: 0.7rem;
}

.friendRequest__user__userInfo h2 {
    font-size: 0.9rem;
    text-align: left;
    color: white;
}

.acceptOrblockDiv {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: auto;
}

.acceptOrblockDiv svg {
    font-size: 1.5vw;
}