.mainChat {
    position: fixed;
    bottom: 0vh;
    width: 60vw;
    min-height: 60vh;
    max-height: 65vh;
    right: 0vw;
    background-color: #1a1d26;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "anotherChats actualChat";
}

.actualChat {
    grid-area: actualChat;
    display: grid;
    margin: 1vw;
    border: 1px solid white;
    max-height: 60vh;
    border-radius: 1vw;
    grid-template-rows: 10vh 30vh;
    grid-template-areas: 
    "Header"
    "MessagesChat"
    "InputChat";
}

.anotherChats {
    grid-area: anotherChats;
    margin: 1vw 0 1vw 1vw;
    border: 1px solid white;
    border-radius: 1vw;
}

.Header {
    grid-area: Header;
}

.MessagesChat {
    grid-area: MessagesChat;
    overflow-y: auto;
    display: flex;
    margin: 1vw;
    flex-direction: column;
    row-gap: 0.5rem;
}

.InputChat {
    grid-area: InputChat;
}