.rightIcons {
    grid-area: rightIcons;
    display: flex;
    margin: auto;
    gap: 1vw;
}

.rightIcons svg {
    font-size: 1.5vw;
    color: white;
}

.personDivInfo {
    display: flex;
    gap: 0.5vw;
    border: 1px solid white;
    border-radius: 0.8vw;
    padding: 0.3vw 0.5vw;
}

.logoutIcon {
    margin: auto;
    padding: 0.5vw;
}

.logoutIcon:hover {
    background-color: rgb(66, 57, 57);
    cursor: pointer;
    box-shadow: rgb(211, 211, 224) 0px 3px 12px 0px;
    color: black;
}

.nickNameTitle {
    color: white;
}

.selectAsideButtons, .selectAsideButtonsBegin {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    width: 100%;
    color: white;
    border-bottom: 3px solid white;
}

.selectAsideButtonsBegin {
    border-bottom: 3px solid green;
}

.selectAsideButtons:hover, .selectAsideButtonsBegin:hover {
    background-color:#282b36;
    color: whitesmoke;
}

.asideSelect {
    grid-area: asideSelect;
    display: flex;
}

.asideSelectedItem {
    grid-area: asideSelectedItem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vw;
    margin: 1rem;
    color: white;
}