@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.mainLoginDiv {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas: 
    ". . ."
    ". loginDiv ."
    ". . .";
    background-image: url("../../assets/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.loginDiv {
    grid-area: loginDiv;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "formDiv gifDiv";
    background-color: transparent;
}

.formDiv {
    grid-area: formDiv;
    margin: auto 0;
}

.gifDiv {
    grid-area: gifDiv;
    display: block;
    margin: auto;
    text-align: center;
    color: transparent;
}

.mainForm {
    background-image: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(0,0,0,0.5),
    rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,1));
    border-radius: 1vw;
    padding: 0.5vw;
    margin: 1vw;
}

.formTitle {
    color: white;
    text-align: center;
}

.formBodyTitle {
    color: white;
    font-size: 1.6vw;
}

.formBody {
    margin-inline: 1vw;
}

.formInput {
    width: 100%;
    padding: 0.3vw;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
}

.formInput:hover {
    border-bottom: 3px solid white;
}

.formInputDiv {
    color: white;
    display: flex;
    padding: 0.25vw;
    gap: 0.5vw;
}

.formIcon {
    margin: auto;
    display: flex;
    font-size: 1.6vw;
}

.formButton {
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 0.25vw;
}

.showPasswordIcon {
    cursor: pointer;
    display: flex;
    margin: auto;
    font-size: 1.6vw;
}

.buttonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dialogDiv {
    position: absolute;
    top: 5vh;
    right: 0;
}

.errorMessage {
    color: rgb(245, 81, 81);
    text-align: center;
}

.spaceCatStyle {
    width: 100%;
}
.storysetText {
    color: white;
}