.PopoverHeader__avatar {
    display: flex;
    margin: auto;
    column-gap: 2rem;
}

.PopoverHeader__info {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.PopoverBody__statistics {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
}

.PopoverBody__statistics__number {
    color: gray;
    font-weight: 400;
}

.PopoverFooter {
    display: flex;
    margin: 0 1vw 1vw 1vw;
    justify-content: space-between;
}

.PopoverFooter button{
    margin: auto 0;
}

.PopoverFooter__icons {
    display: flex;
    margin: 1vw;
    gap: 1.5vw;
}

.PopoverFooter__icons__div {
    cursor: pointer;
    padding-inline: 1vw;
    padding-block: 0.5vw;
}

.PopoverFooter__icons__div:hover {
    background-color: gray;
}

.PopoverFooter__icons__div svg {
    font-size: 2.5vw;
}

.PopoverHeader__info h2 {
    font-weight: 500;
    font-size: 1.2vw;
    margin: auto 0;
}

.PopoverHeader__info h3 {
    font-weight: 200;
    margin: auto 0;
    color: gray;
    font-size: 1vw;
}