.asideDiv {
    display: flex;
    gap: 1vw;
    padding: 1vw;
    width: 100%;
}

.asideDiv:hover {
    border: '2px solid gray';
    padding-inline: 1vw;
    cursor: pointer;
}

.asideIconDiv {
    display: flex;
    margin: auto;
}

.asideText__div {
    width: 80%;
}

.asideText__text {
    font-size: 1.5vw;
}