.asideDiv {
    display: flex;
    gap: 1vw;
    width: 100%;
    padding: 0.5vw;
}

.asideDiv:hover {
    border: '2px solid gray';
    cursor: pointer;
}

.asideIconDiv {
    display: flex;
    margin: auto;
    font-size: 2vw;
}

.asideText__div {
    width: 80%;
}

.asideText__text {
    font-size: 1.5vw;
}