.mainDiv {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.asideSelectedItem {
    display: block;
}

.userWithoutFriends {
    margin: auto;
    text-align: center;
    color: rgb(167, 159, 159);
    font-size: 0.9rem;
}