.mainContainer {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "asideLeft main asideRight";
    height: 100vh;
    background-image: linear-gradient(to right bottom, #232022, #232023, #232024, #222026, #202027, #1d1f27, #1a1d26, #171c26, #131823, #0f1421, #0a0e1e, #05071c);
}

.asideLeft {
    grid-area: asideLeft;
    display: grid;
    background-color: #0a0e1e;
    grid-template-rows: 17vh auto;
    grid-template-areas: 
    "appLogo"
    "menu";
}

.appLogo {
    grid-area: appLogo;
    display: flex;
}

.menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.leftLogo {
    margin: auto;
}

.asideRight {
    grid-area: asideRight;
    display: grid;
    background-color: #0a0e1e;
    grid-template-columns: auto;
    grid-template-rows: 7vh 10vh auto;
    grid-template-areas: 
    "asideSelect"
    "."
    "asideSelectedItem";
}

.logoImage {
    width: 7vw;
    height: auto;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: max-content;
    grid-template-areas: 
    "postDiv"
    "tweetsDiv";
}

.postDiv {
    grid-area: postDiv;
    background-color: #2c2b2c;
    border-radius: 1vw;
    margin: 1rem;
    display: flex;
}

.mainInputDiv {
    width: 100%;
    display: flex;
    height: 50%;
}

.mainInput {
    background-color: transparent;
    color: white;
    width: 100%;
    outline: none;
    padding: 0.5vw;
    margin: 1vw;
    max-height: 10vh;
}

::-webkit-scrollbar {
    margin: 2vw;
    width: 5px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(179, 176, 176); 
    border-radius: 10px;
  }

.inputAvatar {
    font-size: 2rem;
    display: flex;
    padding: 1.5vw;
    color: white;
}

.inpuItemsDiv {
    width: 100%;
}

.inputAvatar svg {
    margin: auto;
}

.inputBar {
    display: flex;
}

.inputBar__textarea {
    width: 100%;
    display: flex;
    margin: auto;
}

.inputBar__videoAndImage {
    margin: auto;
    padding: 1vw;
}

.imageVideoEmojiIcons {
    display: flex;  
    color: white;
    font-size: 1.5rem;
}

.emojiPickerStyle {
    position: absolute;
    margin: 3vw;
}

.uploadedImageStyle {
    width: 10vw;
    height: 10vh;
}

.uploadedVideoStyle {
    width: 20vw;
    padding: 1vw;
}

.imageVideoEmojiIcons__div {
    margin: auto;
    display: flex;
    gap: 1rem; 
}

.imageVideoEmojiIcons__div svg {
    margin: 0.5vw;
    cursor: pointer;
}

.bottomTweetDiv {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}

.tweetButton {
    color: white;
    border: none;
    outline: none;
}

.tweetButton button {
    margin-right: 1rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.tweetsDiv {
    display: flex;
    grid-area: tweetsDiv;
    border-top: 3px solid wheat;
    justify-content: center;
}

.noOneTweet {
    display: flex;
    margin: auto;
}

.noOneTweet__title {
    color: white;
    font-size: 2vw;
}