.mainContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "asideLeft main asideRight";
    background-image: linear-gradient(to right bottom, #232022, #232023, #232024, #222026, #202027, #1d1f27, #1a1d26, #171c26, #131823, #0f1421, #0a0e1e, #05071c);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.asideLeft {
    grid-area: asideLeft;
    display: grid;
    border-right: 3px solid #413c41;
    grid-template-rows: 17vh auto;
    grid-template-areas: 
    "appLogo"
    "menu";
}

.appLogo {
    grid-area: appLogo;
    display: flex;
}

.leftLogo {
    margin: auto;
}

.leftLogo:hover {
   cursor: pointer;
   background-color: gray;
}

.asideRight {
    grid-area: asideRight;
    display: grid;
    border-left: 3px solid #413c41;
    grid-template-columns: auto;
    grid-template-rows: 8vh auto;
    grid-template-areas: 
    "asideSelect"
    "asideSelectedItem";
}

.logoImage {
    width: 7vw;
    height: auto;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: max-content;
    grid-template-areas: 
    "postDiv"
    "tweetsDiv";
    overflow-y: auto;
}

::-webkit-scrollbar {
    margin: 2vw;
    width: 5px;
  }

::-webkit-scrollbar-thumb {
    background: rgb(179, 176, 176); 
    border-radius: 10px;
}

.postDiv {
    grid-area: postDiv;
    background-color: #2c2b2c;
    border-radius: 1vw;
    margin: 2vw 2vw 1vw 2vw;
    display: flex;
}

.tweetsDiv {
    grid-area: tweetsDiv;
    justify-content: center;
}

.refreshTweets {
    display: flex;
    justify-content: center;
    margin: 1vw;
}

.refreshTweets__button {
    color: white;
}

.refreshTweets__button svg {
    color: white;
    font-size: 4vw;
}

.noOneTweet {
    display: flex;
    justify-content: center;
}

.noOneTweet__title {
    color: white;
    font-size: 2vw;
}

.oneTweetdiv {
    margin: 2vw;
    background-color: #2a2b2f6e;
    padding: 1.2vw;
    border-radius: 1vw;
    max-width: 60vw;
}

.oneTweetdiv__text {
    padding: 1vw;
    text-align: justify;
}

.oneTweetdiv__textAndFile {
    background-color: #4243456e;
    margin: 1vw 0.5vw;
    font-size: 0.9rem;
    color: white;
    border-radius: 1vw;
}

.oneTweetdiv__image {
    display: flex;
    justify-content: center;
}

.oneTweetdiv__infoAboutTweet {
    color: white;
    display: flex;
    font-size: 1rem;
    gap: 2vw;
}

.oneTweetdiv__image img, .oneTweetdiv__image video {
    width: fit-content;
    height: fit-content;
}

.oneTweetdiv__comments__title {
    color: white;
    font-size: 1rem;
}

.createComment__div {
    display: flex;
    color: white;
    margin: 1vw 0.5vw;
    border: 1px solid white;
    border-radius: 1vw;
    background-color: #4243456e;
    font-size: 1.3vw;
}

.createComment__div__icon {
    display: flex;
    margin: auto;
    font-size: 2vw;
    cursor: pointer;
}

.createComment__div__icon svg {
    display: flex;
    justify-content: right;
    margin: 0.7vw;
}